@import "tailwindcss";

#sticky-header {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper {
  width: 90%;
  aspect-ratio: 16 / 9;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}